# ==========================================
# DATABASE (PostgreSQL Configuration)
# ==========================================
# Default configuration must match the environment variables in docker-compose.yml
DB_USER=postgres
DB_PASSWORD=?
DB_NAME=filmio
DB_HOST=db
DB_PORT=5432

# ==========================================
# BACKEND (Node.js Configuration)
# ==========================================
# Port for the backend service
PORT=3001

# The movie database (TMDB) API Key/Token[cite: 1]
# Team members need to register on the TMDB website and enter their personal key[cite: 1]
TMDB_API_KEY=enter_your_tmdb_api_key_here

# JWT Authentication Secret (For user registration (2) and login (3) functionality)[cite: 1]
JWT_SECRET=generate_a_long_random_string_here

# ==========================================
# FRONTEND (React Configuration)
# ==========================================
# Base URL for frontend requests to the backend. 
# If using Vite to initialize the React project, variables must be prefixed with VITE_
VITE_API_URL=http://localhost:3001